$boxColor: rgba(0, 0, 0, 0.26);
$borderBottomColor: 4px solid #ccc;
$mainColor: #4fc08d;
$pbColor: white;
$borderInputColor: #ccc;
$borderInputFColor: #1b995e;
$backgroundInputFColor: #d7fdeb;
$buttonBColor: #ff0077;
$buttonHAColor: #ec3169;
