// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// Variables
$success-color: #2ecc71;
$error-color: #e74c3c;
$background-color: #f9fafb;

$font: "Open Sans", sans-serif;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Importing our components
@import "box";
@import "form";
@import "global";
