// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Importing our components
@import "box";
@import "main";
@import "global";
