<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue JS</title>
  </head>

  <body>
    <div id="app">
      <h4>Dynamic Styling without CCS Classes</h4>
      <h4>Directly interact with the styles attached to an element without CSS classes</h4>
      <div id="app">
        <!-- Best practice use camelCase for CSS style-->
        <div class="demo" :style="{backgroundColor: color}"></div>
        <!-- Better approach use computed-->
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
      </div>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          color: 'gray',
          width: 100
        },
        computed: {
          myStyle() {
            return {
              backgroundColor: this.color,
              width: this.width + 'px'
            };
          }
        }
      });
    </script>

  </body>

</html>