<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue JS</title>
  </head>

  <body>
    <div id="app">
      <h4>Conditional rendering with v-else-if, use of div or template</h4>
      <div v-if="name === 'Sam'">
        <p>Hello Sam!</p>
        <p>Sam, hope you are doing well</p>
      </div>
      <template v-else-if="name === 'Mary'">
        <p>Hello Mary!</p>
        <p>Mary, hope you are doing well</p>
      </template>
      <p v-else-if="name === 'Bob'">Hello Bob!</p>
      <p v-else>Hello, not Sam/Mary/Bob</p>
      <input type="text" v-model="name">
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          name: "Sam"
        }
      });
    </script>

  </body>

</html>