* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Keep the root html font size in percentage by 62.5% to make the 1 rem=10px, easier for the calculation. */
  font-size: 62.5%;
}

.text-section {
  font-size: 1rem;
}

.text-section div {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}
