// +++++++++++++++++++++++++++++++++++++++++++++++++++
//  Global Styles
// +++++++++++++++++++++++++++++++++++++++++++++++++++
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* makes it 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
}

body {
  font-family: "Ruhl", sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

li,
a,
p {
  font-size: 2rem;
}

.space {
  padding-top: 10rem;
}

.big-space {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.container {
  width: 70%;
  max-width: 98rem;
  margin: auto;
  overflow: hidden;
}
