// defining the variables
$header1: 3rem;
$header2: 2.5rem;
$header3: 2rem;
$header4: 1.7rem;
$text: 1.5rem;

$light-color: #fff;
$mid-light-color: #f7c08a;
$mid-color: #444;
$mid-dark-color: #0a1d42;

$body-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// importing our components
@import "global";
@import "header";
@import "mobile";
