// defining the variables
$header1: 3rem;
$header2: 2.5rem;
$header3: 2rem;
$header4: 1.7rem;
$text: 1.5rem;

$text-a-color: #333;
$text-primary-color: #f7c08a;
$text-color: #fff;
$text-border-color: #ddd;

$background-button-color: #333;
$background-button-hover-color: #f7c08a;
$background-light-color: #f4f4f4;
$background-body-color: #344a72;
$background-form-color: #fff;
$background-footer-color: #444;

$body-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// importing our components
@import "global";
@import "header";
