// defining the variables
$light-color: #ffff;
$mid-color: #414141;
$dark-color: #131c27;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// importing our components
@import "global";
@import "header";
@import "mobile";
