* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
}

.box1, .box2, .box3 {
  width: 20%;
  height: 20%;
  background: rgb(164, 52, 255);
}

.box2 {
  background: rgb(63, 255, 223);
}

.box3 {
  background: rgb(29, 29, 29);
}