<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue JS</title>
  </head>

  <body>
    <div id="app">
      <h4>Use of v-for, Iterating Over Items, through objects and push</h4>

      <ul>
        <li v-for="(item, index) in ingredients">
          {{item}} ({{index}})
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add new</button>

      <hr>

      <!-- Assigning the key to help with troubleshooting with arrays-->
      <ul>
        <li v-for="(item, index) in ingredients" :key="item">
          {{item}} ({{index}})
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add new</button>

    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          ingredients: ['meat', 'fruit', 'cookies'],
          persons: [
            { name: 'Max', age: 27, color: 'red' },
            { name: 'Anna', age: 'unknown', color: 'blue' }
          ]
        }
      });
    </script>

  </body>

</html>