body {
  margin: 0;
}

.user-info {
  box-shadow: 0 2px 8px $boxColor;
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;

  h2 {
    font-size: 2rem;
    border-bottom: $borderBottomColor;
    color: $mainColor;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid $mainColor;
    background-color: $mainColor;
    color: $pbColor;
    padding: 0.5rem;
    border-radius: 25px;
  }

  input {
    font: inherit;
    border: 1px solid $borderInputColor;

    &:focus {
      outline: none;
      border-color: $borderInputFColor;
      background-color: $backgroundInputFColor;
    }
  }

  button {
    font: inherit;
    cursor: pointer;
    border: 1px solid $buttonBColor;
    background-color: $buttonBColor;
    color: $pbColor;
    padding: 0.05rem 1rem;
    box-shadow: 1px 1px 2px $boxColor;

    &:hover,
    &:active {
      background-color: $buttonHAColor;
      border-color: $buttonHAColor;
      box-shadow: 1px 1px 4px $boxColor;
    }
  }
}
