button {
  font: inherit;
  background: #ff0062;
  border: 0.1rem solid #ff0062;
  cursor: pointer;
  color: white;
  padding: 1rem 1.25rem;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background: #a80041;
    border-color: #a80041;
  }
}
