label,
input,
textarea {
  display: block;
  margin: 1rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 40rem;
  border: 0.5rem solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

#user-input {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 0.5rem solid #ff0062;
  background: #f7f7f7;
}
