<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue JS</title>
  </head>

  <body>
    <div id="app">
      <h4>Use of v-for, Iterating Over Items, through objects</h4>
      <!-- Loop through an array and getting current index-->
      <ul>
        <li v-for="(item, index) in ingredients">
          {{item}} ({{index}})
        </li>
      </ul>

      <hr>

      <ul>
        <li v-for="person in persons">
          {{person.name}}
        </li>
      </ul>

      <hr>

      <!-- looping through all key value pairs in the object, like normal JavaScript  -->
      <!-- we can use nested v-for -->
      <ul>
        <li v-for="person in persons">
          <span v-for="value in person">
            {{value}}
          </span>
        </li>
      </ul>

      <hr>

      <!-- Getting the key value pair and index, nicer  -->
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">
            {{key}}: {{value}} {{index}}
          </div>
        </li>
      </ul>


    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          ingredients: ['meat', 'fruit', 'cookies'],
          persons: [
            { name: 'Max', age: 27, color: 'red' },
            { name: 'Anna', age: 'unknown', color: 'blue' }
          ]
        }
      });
    </script>

  </body>

</html>